@use 'src/styles/theme';
@use 'src/styles/responsive';

:host {
  grid-area: social-links;
  justify-self: end;
  align-self: center;

  padding-right: theme.$gap-s;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  * {
    color: theme.$text-black;
    width: 48px;
    height: 48px;
  }
}


@media screen and (min-width: responsive.$screen-min-medium-width) {
  .links {
    * {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (min-width: responsive.$screen-min-large-width) {
  .links {
    * {
      width: 32px;
      height: 32px;
    }
  }
}

