@use "../styles/responsive";

.app {
  display: grid;
  grid-template-areas:
    "navigation social-links"
    "card-picture card-picture"
    "card-text card-text";
  gap: 2rem;
}


@media screen and (min-width: responsive.$screen-min-medium-width) {
  .app {
    margin-left: 10%;
    margin-right: 10%;

    grid-template-areas:
    "navigation social-links"
    "card-picture card-picture"
    "card-text card-text";
  }
}

@media screen and (min-width: responsive.$screen-min-large-width) {
  .app {
    margin-left: 30%;
    margin-right: 30%;

    grid-template-areas:
  "navigation social-links"
  "card-picture card-text";
  }
}
