<button class="button button__open" (click)="open=true">
  <i-tabler class="button__icon" name="Menu"></i-tabler>
</button>
<div [@openClose]="open ? 'open' : 'closed'" class="menu">
  <button class="button button__close" (click)="open=false">
    <i-tabler class="button__icon" name="X"></i-tabler>
  </button>

  <div class="links">
    <button class="button" (click)="scroll('about')">About</button>
    <button class="button" (click)="scroll('work')">Work</button>
    <button class="button" (click)="scroll('skills')">Skills</button>
  </div>
</div>
