@use "src/styles/theme";

:host {
  display: flex;
  justify-content: center;
}

.card {
  color: theme.$text-black;
  background-color: theme.$accent-white;
  box-shadow: 4px 4px #8a94a6;
  max-width: 75%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  border-radius: theme.$border-radius;
  padding: 30px;

  & :not(:last-child) {
    margin-bottom: theme.$gap-s*2;
  }


  &__header {
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Permanent Marker', cursive;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    max-width: 200px;
  }
}
