@use "src/styles/theme";
@use 'src/styles/responsive';

:host {
  display: flex;
  justify-content: center;
  grid-area: card-text;
}

.header {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: 'Permanent Marker', cursive;
}
