@use "../../../styles/theme";
@use "../../../styles/responsive";

:host {
  display: flex;
  justify-content: center;
  grid-area: card-text;
}

.header {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: 'Permanent Marker', cursive;
}

@media screen and (min-width: responsive.$screen-min-medium-width) {

}

@media screen and (min-width: responsive.$screen-min-large-width) {
  :host {
    justify-content: start;
  }
}
