@use "src/styles/theme";
@use "src/styles/responsive";

:host {
  display: flex;
  justify-content: center;
  grid-area: card-picture;
}

.img {
  border-radius: theme.$border-radius;
  width: 250px;
}

.header {
  font-weight: bold;
  font-size: 1.3rem;
  overflow: hidden;
}

.quote {
  font-style: italic;
  padding-left: 20px;
}


@media only screen and (min-width: 1000px) {
  .img {
    width: 150px;
  }
}
