@use "../../../styles/theme";
@use "../../../styles/responsive";

:host {
  display: flex;
  justify-content: center;
  grid-area: card-picture;
}

.img {
  border-radius: theme.$border-radius;
  width: 250px;
}

.header {
  font-weight: bold;
  font-size: 1.3rem;
  overflow: hidden;
}

.quote {
  font-style: italic;
  padding-left: 20px;
}

@media screen and (min-width: responsive.$screen-min-medium-width) {
  .img {
    width: 200px;
  }
}


@media screen and (min-width: responsive.$screen-min-large-width) {
  .img {
    width: 180px;
  }

  :host {
    justify-content: end;
  }
}
