<div id="work" class="work">
  <span class="header">Work</span>

  <p>My jorney as a software developer started in 2015 with an apprenticeship as an systems engineer at Markant in
    Offenburg. During the apprenticeshipt I’ve learned to code and all the IT basics like OSI/ISO layers or configuring
    cisco routers and switches.
  </p>
  <p>
    In 2018 I joined the cloud team at Markant. The team was responsible to help all product teams to make their
    “on-premise to cloud” transition as smooth and fast as possible, like an accelerator. During this time we developed
    automations to deploy kubernetes with batteries inclueded like: ingress controller, monitoring stack and logging.
    Followed by controllers written in Go which e.g. manage DNS entries for all product teams on the kubernetes
    platform.
    We also started to give one-day workshops about Docker and containers in order to get everyone on-track about how to
    build and package applications for the cloud native ecosysystem.
  </p>
  <p> In Januaray 2021 I joined a new product team at markant with the misson to design and deploy a resilient
    infrastructure with secuiry in mind. During this work I also got the opportunity to work as a full stack engineer
    within the team. Until today I’m part of the team and focusing on delivering a reliable product for the industry.
  </p>
</div>
