:host {
  grid-area: work;
  padding-left: 10px;
  padding-right: 10px;
}

.work {
  display: flex;
  flex-direction: column;
}

p {
  text-align: justify;
}

.header {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: 'Permanent Marker', cursive;
  align-self: center;
}
