<div id="skills" class="skills">
  <span class="header">Skills</span>
  <div class="content">
    <app-skill name="Go" imageSrc="assets/go-language-official.png" url="https://go.dev/"></app-skill>
    <app-skill name="TypeScript" imageSrc="assets/type-script-icon.png"
               url="https://www.typescriptlang.org/"></app-skill>
    <app-skill name="Angular" imageSrc="assets/angular-icon.png"
               url="https://angular.io/"></app-skill>
    <app-skill name="Kubernetes" imageSrc="assets/kubernetes.png"
               url="https://kubernetes.io/"></app-skill>
    <app-skill name="Containers" imageSrc="assets/container.png"
               url=""></app-skill>
    <app-skill name="Terraform" imageSrc="assets/terraform.png"
               url="https://terraform.io/"></app-skill>
    <app-skill name="Azure" imageSrc="assets/azure.png"
               url="https://azure.com/"></app-skill>
    <app-skill name="traefik" imageSrc="assets/traefik.png"
               url="https://traefik.io/"></app-skill>
    <app-skill name="REST APIs" imageSrc="assets/api.png"
               url=""></app-skill>
    <app-skill name="OAuth 2.0" imageSrc="assets/oauth.svg"
               url="https://oauth.net/2/"></app-skill>
    <app-skill name="GitLab CI/CD" imageSrc="assets/gitlab.png"
               url="https://gitlab.com"></app-skill>
    <app-skill name="Hexagonal Architecture" imageSrc="assets/hexagon.png"
               url="https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html"></app-skill>
    <app-skill name="CQRS" imageSrc="assets/cqrs.png"
               url=""></app-skill>
    <app-skill name="SQL/NoSQL" imageSrc="assets/db.png"
               url=""></app-skill>
    <app-skill name="Message/Event Driven" imageSrc="assets/messaging.png"
               url=""></app-skill>
    <app-skill name="Infrastructure Design" imageSrc="assets/design.png"
               url=""></app-skill>
    <app-skill name="Scrum/Kanban/Lean Startup" imageSrc="assets/team.png"
               url=""></app-skill>
  </div>
</div>
